@font-face {
  font-family: "iconfont"; /* Project id 4201795 */
  src: url('iconfont.woff2?t=1694669110731') format('woff2'),
       url('iconfont.woff?t=1694669110731') format('woff'),
       url('iconfont.ttf?t=1694669110731') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-buxianshi:before {
  content: "\e8b8";
}

.icon-xialaicon:before {
  content: "\e8b7";
}

.icon-IMbiaoqing:before {
  content: "\e8b1";
}

.icon-youxuanzhuan:before {
  content: "\e8b0";
}

.icon-xianshi:before {
  content: "\e8b2";
}

.icon-xiayiye:before {
  content: "\e8b3";
}

.icon-zuoxuanzhuan:before {
  content: "\e8b4";
}

.icon-shangyiye:before {
  content: "\e8b5";
}

.icon-xinzeng:before {
  content: "\e8b6";
}

.icon-zhengque:before {
  content: "\e7b1";
}

.icon-jingshi:before {
  content: "\e7b2";
}

.icon-wenhao:before {
  content: "\e7b3";
}

.icon-guanbihuojingshihuocuowu:before {
  content: "\e7b4";
}

.icon-fangda:before {
  content: "\e800";
}

.icon-quanping:before {
  content: "\e801";
}

.icon-suoxiao:before {
  content: "\e802";
}

.icon-nv:before {
  content: "\e8a4";
}

.icon-nan:before {
  content: "\e8a5";
}

.icon-dianhua:before {
  content: "\e8a6";
}

.icon-fujian:before {
  content: "\e8a7";
}

.icon-shuaxin:before {
  content: "\e8a8";
}

.icon-guanbi:before {
  content: "\e8a9";
}

.icon-add:before {
  content: "\e8aa";
}

.icon-tips:before {
  content: "\e8ab";
}

